<!DOCTYPE html>
<html>
<head>
    <title>Guest List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Guest List</h1>
        <div class="row">
            {% for guest in guests %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Guest: {{ guest.name }}</h5>
                <p class="card-text">Room: {{ guest.room_number }}</p>
                <!-- More guest details can be added here -->
            </div>
        </div>
    </div>
{% endfor %}
        </div>
        <!-- Link to return to Front Desk -->
        <div class="text-center">
            <a href="{{ url_for('front_desk') }}" class="btn btn-link mt-3" style="color: aliceblue;">Return to Front Desk</a>
        </div>
    </div>
    <!-- Optional: Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
