<!DOCTYPE html>
<html>
<head>
    <title>Hotel Room Information</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hotel_info.css') }}">
</head>
<body class="bg-dark text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-5">
                <h1 class="text-center mb-4">Hotel Room Information</h1>
                <ul class="list-group list-group-flush bg-dark">
                    <li class="list-group-item bg-dark text-white">Basic Room: $10 per day</li>
                    <li class="list-group-item bg-dark text-white">Premium Room: $25 per day</li>
                    <li class="list-group-item bg-dark text-white">Deluxe Room: $99 per day</li>
                    <li class="list-group-item bg-dark text-white">Note: Additional $20 per person per day</li>
                    <li class="list-group-item bg-dark text-white">Tax rate: 2%</li>
                </ul>
                <div>
                     <a href="{{ url_for('check_in') }}" class="btn btn-info">Back to Check In</a>
                <a href="{{ url_for('front_desk') }}" class="btn btn-info" style="color: aliceblue;">Return to Frontdesk</a>
                </div>

            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
